@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    /* primaty color */
    --light-red: hsl(0, 100%, 67%);
    --light-redbg: hsl(0, 100%, 97%);
    --orange-yellow: hsl(39, 100%, 56%);
    --orange-yellowbg: hsl(39, 100%, 97%);
    --green-teal: hsl(166, 100%, 37%);
    --green-tealbg: hsl(166, 100%, 97%);
    --cobalt-blue: hsl(234, 85%, 45%);
    --cobalt-bluebg: hsl(234, 85%, 97%);
    /* gradients color */
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue : hsl(241, 81%, 54%); 
    --violet-blue : hsla(256, 72%, 46%, 1); 
    --persian-blue : hsla(241, 72%, 46%, 0); 
    /* netral color */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
    --dark-text: hsl(0, 0%, 62%);

}

.bgGd{
    background: linear-gradient(to bottom,var(--light-slate-blue),var(--light-royal-blue));
}

.circlebg{
    background: linear-gradient(to bottom,var(--violet-blue),var(--persian-blue));
}
/* ## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Light red: hsl(0, 100%, 67%)
- Orangey yellow: hsl(39, 100%, 56%)
- Green teal: hsl(166, 100%, 37%)
- Cobalt blue: hsl(234, 85%, 45%)

## Gradients

- Light slate blue (background): hsl(252, 100%, 67%)
- Light royal blue (background): hsl(241, 81%, 54%)

- Violet blue (circle): hsla(256, 72%, 46%, 1)
- Persian blue (circle): hsla(241, 72%, 46%, 0)



### Neutral

- White: hsl(0, 0%, 100%)
- Pale blue: hsl(221, 100%, 96%)
- Light lavender: hsl(241, 100%, 89%)
- Dark gray blue: hsl(224, 30%, 27%)

### Notes

Use transparency to get the colour variations necessary to match the design. Hint: look into using `hsla()`.

## Typography

### Body Copy

- Font size (paragraphs): 18px

### Font

- Family: [Hanken Grotesk](https://fonts.google.com/specimen/Hanken+Grotesk)
- Weights: 500, 700, 800 */